// =============================================================================
// Стили компонента страницы товара
// =============================================================================

.product-page {
  &__details {
    display: grid;
    gap: 1rem;
  }
}
