// =============================================================================
// Стили компонента платежных систем
// =============================================================================

.pay-systems {
  --base-size: 1rem;
  --item-width: 2.875em;
  --item-height: 1.75em;
  --sprite-img: url(../img/footer/footer-sprite.png);

  display: flex;
  gap: 0.313em;
  font-size: var(--base-size);

  &__item {
    width: var(--item-width);
    height: var(--item-height);

    background-color: var(--white);
    background-repeat: no-repeat;
    background-image: var(--sprite-img);
    border: 2px solid var(--white);
    border-radius: 0.5em;

    &.paypal {
      background-position: -2px -6px;
    }

    &.mastercard {
      background-position: -54px -8px;
    }

    &.visa {
      background-position: -104px -8px;
    }

    &.yandex {
      background-position: -154px -8px;
    }

    &.webmoney {
      background-position: -2px -46px;
    }

    &.qiwi {
      background-position: -52px -46px;
    }
  }
}
