// =============================================================================
// Стили компонента выбора количества товара
// =============================================================================

.product-count-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    &:disabled {
      cursor: not-allowed;
    }
  }

  &__count {
    $btnColor: var(--color-link-default);

    width: auto;
    min-width: 2ch;
    max-width: 100%;

    background-color: transparent;
    border: 1px solid $btnColor;
    outline: none;

    font-size: 0.875rem;
    line-height: 1.5;
    color: $btnColor;
    text-align: center;
  }
}
