// =============================================================================
// Стили компонента прелоадера содержимого
// =============================================================================

.content-preloader {
  --preloader-size: 30px;
  --circle-size: 40%;
  --circle-color-first: #19a68c;
  --circle-color-second: #ff748b;
  --circle-color-third: #ffb676;
  --circle-color-fourth: #727e86;
  --animation: content-preload-spin 2s ease infinite;

  position: relative;
  margin: 0.625rem auto;
  width: var(--preloader-size);
  height: var(--preloader-size);

  span {
    position: absolute;

    margin: 0;

    width: var(--circle-size);
    height: var(--circle-size);

    border-radius: 50%;
    border: 0;

    animation: var(--animation);

    &:first-child {
      background: var(--circle-color-first);
      animation-delay: -1.5s;
    }

    &:nth-child(2) {
      background: var(--circle-color-second);
      animation-delay: -1s;
    }

    &:nth-child(3) {
      background: var(--circle-color-third);
      animation-delay: -0.5s;
    }

    &:last-child {
      background: var(--circle-color-fourth);
    }
  }
}
