// =============================================================================
// Стили компонента модального окна
// =============================================================================

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  overflow: hidden;
}

.modal-dialog {
  margin: 0;
  width: 100%;
}
