// =============================================================================
// Стили компонента страницы «О магазине»
// =============================================================================

.about-section {
  &__content {
    h4 {
      text-align: center;
    }

    ol {
      p {
        margin: 0;
      }
    }
  }
}
