// =============================================================================
// Стили компонента подвала
// =============================================================================

.footer {
  padding: 2rem 1.563rem;
}

.footer-pay {
  &__title {
    margin-bottom: 0.75rem;
  }
}

.footer-copyright {
  font-size: 0.8rem;

  p {
    margin: 0;
  }
}

.footer-contacts {
  &__socials {
    margin-top: 10px;
  }

  &__phone,
  &__email {
    display: block;
  }
}
