// =============================================================================
// Стили компонента двух колоночной таблицы
// =============================================================================

.two-column-table {
  margin-bottom: 0;
}
