// =============================================================================
// Стили компонента виджета поиска
// =============================================================================

.search-widget {
  --animation-icon-hover: pan 0.8s linear infinite;
  position: relative;

  &__btn {
    position: relative;
    z-index: 11;
    background-position: -64px 0;

    &:hover,
    &:focus-within {
      animation: var(--animation-icon-hover);
    }
  }

  &__form-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-56%);
    z-index: 10;

    min-width: 233px;
  }

  &__form {
    margin: 0;
  }
}
