// =============================================================================
// Стили компонента секции каталога товаров
// =============================================================================

.catalog-section {
  &__categories {
    margin-bottom: 2.6rem;

    .catalog-categories {
      margin: 0;
    }
  }

  .product-list {
    .row {
      row-gap: 1rem;
    }
  }
}
