// =============================================================================
// Стили компонента списка размеров товара
// =============================================================================

.product-sizes {
  gap: 0.3em;
  font-size: 1rem;

  &__label,
  &__list {
    margin: 0;
  }
}
