// =============================================================================
// Базовые стили приложения
// =============================================================================

:root {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  transition: 0.3s;
}

a {
  text-decoration: inherit;
  color: var(--color-link-default);

  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: var(--color-link-hover);
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

ul,
ol {
  list-style: none;
}

section {
  &.pt-1rem {
    padding-top: 1rem;
  }

  &.pt-4rem {
    padding-top: 4rem;
  }
}

.min-height-300 {
  min-height: 300px;
}
