// =============================================================================
// Стили компонента анимированного список товаров
// =============================================================================

.animated-product-list {
  .row {
    row-gap: 1rem;
  }
}

.animated-product-list__item {
  margin-bottom: 1rem;
  will-change: transform, opacity;
}
