// =============================================================================
// Стили компонента таблицы корзины
// =============================================================================

.cart-table {
  margin-bottom: 0;
}
