// =============================================================================
// Стили компонента виджета корзины
// =============================================================================

.cart-widget {
  --widget-base: 16px;

  position: relative;
  font-size: var(--widget-base);
  
  &__link {
    position: relative;
    display: block;
    background-position: 0 0;

    &:hover {
      animation: pan 0.8s linear infinite;
    }
  }

  &__count {
    --size: calc(var(--widget-base) * 1.3125); // 21px

    position: absolute;
    right: 0;
    top: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--size);
    width: var(--size);

    border-radius: 50%;
    background: var(--color-bg-cart-count);
    box-shadow: var(--shadow-cart-count);

    font-size: calc(var(--widget-base) * 0.688); // ~11px
    color: var(--white);
  }
}
