// =============================================================================
// Корневой scss-файл приложения, который импортирует остальные scss-файлы
// =============================================================================

@use "@/shared/styles/colors";
@use "@/shared/styles/fonts";
@use "@/shared/styles/keyframes";
@use "@/shared/styles/base";
