@use "@/shared/styles/keyframes";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #272727;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  transition: 0.3s;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #727e86;

  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

ul,
ol {
  list-style: none;
}

section {
  &.pt-1rem {
    padding-top: 1rem;
  }

  &.pt-4rem {
    padding-top: 4rem;
  }
}

h2,
.h2 {
  margin-bottom: 1.5em;
}

.min-height-300 {
  min-height: 300px;
}
