// =============================================================================
// Стили компонента позиции корзины
// =============================================================================

.table-link {
  display: inline-block;

  max-width: 20ch;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
