.loading-fallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  min-height: 200px;

  font-size: 16px;

  &__spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #ff8076;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    &--small {
      width: 1.5em;
      height: 1.5em;
    }

    &--medium {
      width: 2.5em;
      height: 2.5em;
    }

    &--large {
      width: 3.75em;
      height: 3.75em;
    }
  }

  &__message {
    margin-top: 1em;
    font-size: 0.875em;
    color: #666;
  }
}
