.main-banner {
  &__item {
    position: relative;
  }

  &__item-header {
    position: absolute;
    z-index: 5;
    right: 1px;
    bottom: 34px;
  
    width: 487px;
  
    background: linear-gradient(
      270deg,
      rgba(161, 179, 191, 0.8) 72.59%,
      rgba(161, 179, 191, 0) 98.05%
    );
  
    font-size: 3rem;
    font-weight: bold;
    line-height: 6.125rem;
    text-align: center;
    color: #ffffff;
  }
}


