// =============================================================================
// Стили компонента списка социальных сетей
// =============================================================================

.socials-list {
  --icon-size: 36px;
  --animation-link: pan 0.5s infinite;

  gap: 10px;

  &__link {
    display: block;

    &:hover {
      animation: var(--animation-link);
    }
  }

  &__icon {
    display: inline-block;

    width: var(--icon-size);
    height: var(--icon-size);

    background-repeat: no-repeat;
    background-image: url(../img/footer/footer-sprite.png);

    &.twitter {
      background-position: -107px -42px;
    }

    &.vk {
      background-position: -157px -42px;
    }
  }
}
