// =============================================================================
// Стили карточки товара
// =============================================================================

.product-card {
  &__img {
    height: 385px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
  }
}
