// =============================================================================
// Стили компонента виджета корзины
// =============================================================================

.cart-widget {
  --widget-base: 16px;

  position: relative;
  font-size: var(--widget-base);

  &__icon, &__link {
    width: 2em;
    height: 2em;
  }
  
  &__link {
    position: relative;
    display: block;
    background-position: 0 0;

    &:hover {
      animation: pan 0.8s linear infinite;
    }
  }

  &__count {
    --elementSize: calc(var(--widget-base) * 1.3125);

    position: absolute;
    right: -10px;
    top: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--elementSize);
    width: var(--elementSize);

    border-radius: 50%;
    background: var(--color-bg-cart-count);
    box-shadow: var(--shadow-cart-count);

    font-size: calc(var(--widget-base) * 0.688);
    line-height: 1;
    color: var(--white);

    cursor: default;
    pointer-events: none;
  }
}
